* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0))
}

#main-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    height: 35rem;
    width: 26rem;
    border-radius: 16px;
    background-color: white;
    max-width: 28rem;
}

#heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 68, 0);
}

#app-box {
    height: 28rem;
    width: 23.85rem;
    margin: 0.55rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(180deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: rgb(255, 220, 204);
}

#settings {
    height: 14%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 12px;
}

#sett,
#analysis {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 68, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

h3 {
    margin: 1rem;
}

#btn {
    height: 2.8rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid rgb(255, 220, 204);
    background: linear-gradient(90deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: white;
    margin: 0rem 1rem 1.5rem 1rem;
}

#btn:hover {
    background: linear-gradient(135deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: white;
    border-width: 2px;
}

#displayOTP {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    color: rgb(255, 68, 0);
    margin: 0.7rem;
    font-size: 40px;
}

#pin-input {
    height: 35px;
    width: 120px;
    border-radius: 10px;
    margin-top: 1rem;
    border-color: white;
    border-style: none;
    padding-left: 0.8rem;
}

#show-pin {
    height: 20px;
    width: 30px;
    border-radius: 50%;
}

.s-panel {
    position: relative;
    height: 28rem;
    width: 23.85rem;
    margin: 0.55rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(180deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: rgb(255, 220, 204);
}

.new-pin-c {
    height: 35px;
    width: 120px;
    border-radius: 10px;
    margin-top: 1rem;
    border-color: white;
    border-style: none;
    padding-left: 0.8rem;
}

.enter-new-pin-c {
    height: 2.8rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid rgb(255, 220, 204);
    background: linear-gradient(90deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: white;
    margin: 1rem 1rem 1rem 1rem;
}

.enter-new-pin-c:hover {
    background: linear-gradient(135deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: white;
    border-width: 2px;
}

#log-list{
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ff6d12;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

#back-btn{
    margin: 8px;
    height: 2rem;
    width: 5rem;
    color: #FFF;
    border-radius: 10px;
    background: linear-gradient(45deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
}

#door-status{
    height: 50px;
    width: 200px;
    background: linear-gradient(45deg, red, rgb(255, 68, 0), rgb(255, 109, 5), rgb(255, 174, 0));
    color: #ffffff;
    border-radius: 10px;
    margin:0px 6px 8px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status-color{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: red;
    margin-left: 10px;
}